body {
    font-family: 'Helvetica, sans-serif';  
} 


@font-face {
    font-family: 'Helvetica';
    src: url('../../public/HelveticaNowDisplay-Regular.woff2') format('woff2');
      
  }
  .custom-button {
    background-color: #0779EB; 
    font-size: 1.2rem; 
    color: white; 
    padding: 8px 20px; 
    border: none; 
    border-radius: 13px; 
    cursor: pointer; 
    letter-spacing: 0.05em;
    margin: 2px; 
  }

  .custom-border-button {
    background-color: transparent; 
    font-size: 1.2rem; 
    color: #0779EB; 
    padding: 8px 20px; 
    border: 1px solid #0779EB; 
    border-radius: 10px; 
    cursor: pointer; 
    letter-spacing: 0.05em;
    margin: 2px; 
  }
  .custom-border-button:hover{
    color: white;
    background: #0779EB;
    
  }
  
  .custom-button:hover {
    color: #0779EB; 
    background: white;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {

    .custom-button {
      font-size: 1rem; 
      padding-left: 1rem; 
      padding-right: 1rem; 
    }
    .custom-border-button {
      font-size: 1rem; 
      padding-left: 1rem; 
      padding-right: 1rem; 
    }
  }
  
  @media (max-width: 375px) {

    .custom-button {
      font-size: .8rem; 
    }
    .custom-border-button {
      font-size: .8rem; 
    }
  }
  



.custom-bgColor {
    background-color: #132638;
    padding: 20px;
    border-radius: 8px;
  }



  .custom-inputColor {
    background-color: #20364A;
    color: white; 
  }
/* newsletter */
.hide-on-mobile {
  background-color: #20364A;
  color: white;
  border-radius: 12px;
}


@media only screen and (max-width: 959px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (min-width: 959px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media only screen and (max-width: 1069px) {
  .icon {
    display: none !important;
  }
}

@media only screen and (max-width: 1069px) {
  .flex-col {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}



@media only screen and (min-width: 768px) and (max-width: 1069px) {
  .flex-col {
    justify-content: center;
  }

  .flex-col > * {
    margin: 0 auto;
  }
}


/* newsletter end */

  .custom-textarea {
    background-color: #20364A;
    color: white; 
  }
  
  
  .custom-checkbox {
    background-color: #203549; 
    border-color: #20364A; 
    color: white; 
  }
  
  .popup-container {
    position: fixed;
    z-index: 9999; /* Adjust the z-index value to ensure it's higher than other elements */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  }
  
  .popup-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  /* blog cards */

.card {
  border-radius: 3rem;
  border-top: 0.13rem solid white;
 
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin: 1.5rem;
  max-width: 30rem;
  padding: 1.5rem 2rem;
  max-width: 30rem;
}

.card.fade-up {
  animation: fade-up-animation 1s ease;
}

.card.fade-left {
  animation: fade-left-animation 1s ease;
}

.card.fade-right {
  animation: fade-right-animation 1s ease;
}

.image {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 1rem;
}

.content {
  padding-top: 1.5rem;
}

.category {
 
  border-radius: .6rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 0.875rem;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.subtitle {
 
  font-size: 1rem;
  margin-top: 0.5rem;
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.author {
  margin-left: 0.5rem;
}

.author-name {
  font-weight: bold;
  
  font-size: 1rem;
  margin: 0;
}

.date-readTime {
 
  font-size: 0.875rem;
  margin: 0;
}

/* blog cards end */
  

  .container{
    width: 100%;
    /* margin:0 auto; */
  }

  #cards{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards),var(--cardheight));
    gap: var(--cardmargin);
    padding-bottom: calc(var(--cards)*var(--cardtoppadding));
    margin-bottom: var(--cardmargin);
  }
  #card1{
    --index:1;
  }
  #card2{
    --index:2;
  }
  #card3{
    --index:3;
  }
  #card4{
    --index:4;
  }
  #card5{
    --index:5;
  }
  #card6{
    --index:6;
  }
  .cardC{
    position: sticky;
    top: 0;
    padding-top: calc(var(--index)*var(--cardtoppadding));
  }

  .card-body{
    background-color: #132638;
    border-radius: 8px;
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    height: var(--cardheight);
    display: flex;
    gap: 1rem;    
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    color: rgb(209 213 219 / 1);
  }




  /* bg blinking */
  
  @keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
  .blink {
    animation: blink-animation 1s ease-in-out infinite;
  }
  
  .image-container {
    display: inline-block;
  }
  
  
  .sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .sponsor-logos div.flex.overflow-hidden.space-x-16 {
      gap: 8px; /* Adjust spacing between logos for smaller screens */
    }
  }

  
  

  
  
   
  