body {
    background-image: url('../../public/imgs/Background.png'); 
    background-size: cover;
    background-color: #00152A;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Helvetica, sans-serif';
    overflow-x: hidden; /* Add this line to remove horizontal scrollbar */
    

    
} 


@font-face {
    font-family: 'Helvetica';
    src: url('../../public/HelveticaNowDisplay-Regular.woff2') format('woff2');
      
  }
  

.custom-bgColor {
    background-color: #132638;
    padding: 20px;
    border-radius: 8px;
  }

 

  .custom-inputColor {
    background-color: #20364A;
    color: white; /* Text color for input boxes */
  }
  
  /* Text area color */
  .custom-textarea {
    background-color: #20364A;
    color: white; /* Text color for text area */
  }
  
  /* Checkbox color */
  .custom-checkbox {
    background-color: #203549; /* Checkbox background color */
    border-color: #20364A; /* Checkbox border color */
    color: white; /* Text color for checkbox */
  }
  
  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    backdrop-filter: blur(8px); /* blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  


  @keyframes slideLeftToRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .logos-container {
    display: flex;
    overflow: hidden;
  }
  
  .logo {
    flex-shrink: 0;
  }
  
  /* Media query for screens smaller than 768px (typical mobile devices) */
  @media (max-width: 767px) {
    .logo {
      animation: slideLeftToRight 10s linear infinite; /* Adjusted duration for smoother movement */
    }
  
    .logos-container {
      justify-content: flex-start;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  
  