body {
    background-image: url('../public/imgs/Background.png'); /* Update with your image file path */
    background-size: cover;
    background-color: #00152A;
    background-position: center;
    background-repeat: no-repeat;
}
